//연석이가 작성한 CSS

@import 'reset-css';

img {
    width: 150px; 
}

.trial-time{
    color: palevioletred;
}

.main-profile {
    border-radius: 50%;
    width: 190px; 
}

.column {
    display: flex;
    justify-content: center;
}

.update-time {
    margin-top: 15px;
    text-align : center;
    font-weight : 800;
    color : whitesmoke;
}

.info-list {
    text-align: left;
}

.list-item {
    font-size : 16px;
    margin-left : 20px;
    padding-left : 25px;
    color: white;
}

.update{
        color : white;
}
.update:hover {
    color : lightsalmon;
    font-weight: 600;
    text-decoration: none;
}


.counter-actions {
    align-content: center;
    .action-item {
        font-size: 25px;
        font-weight: 800;
        color: floralwhite;
        
        .icon{
            display: inline-block;
            margin-left: 8px;
            margin-right : 12px;
        }
    }
}
