@import 'reset-css';

img {
    width: 200px; 
}

.trial-time{
    color: palevioletred;
}

.main-profile {
    max-width : 100%;
    border-radius: 50%;
}

.column {
    display: flex;
}

.info-list {
    text-align: left;
}

.list-item {
    font-size : 16px;
    margin-left : 20px;
    padding-left : 25px;
    color: white;
}

.edit{
        color : white;
}
.edit:hover {
    color : lightsalmon;
    font-weight: 600;
    text-decoration: none;
}


.counter-actions {
    align-content: center;
    .action-item {
        font-size: 25px;
        font-weight: 800;
        color: floralwhite;
        
        .icon{
            display: inline-block;
            margin-left: 8px;
            margin-right : 12px;
        }
    }
}
