//모바일&PC 공통 CSS들어갈 곳

.main-container{
    background-color: #f6f6f6;
}

//counter-profile component
.counter-container{
    width: 90%;
    min-width: 375px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding-right: 28px;
    padding-left: 28px;
    padding-bottom: 36px;
    border-radius: 12px;
    .team-info{
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        .team-name{
            font-weight: bold;
            font-size: 22px;
            color: #000000;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.44px;
            margin-right: 10px;
        }
        .age-range{
            font-size: 13px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.62;
            letter-spacing: -0.3px;
            color: #888888;
            margin-right: 10px;
        }
        .company{
            font-size: 13px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.62;
            letter-spacing: -0.3px;
            color: #888888;
        }
    }
    .team-intro{
        text-align: justify;
    }
    .images{
        display: flex;
        flex : 1;
        justify-content: space-between;
        overflow: auto;
        border: none;
        img{
            border-radius: 12px;
            width : 231px;
            height: 231px;
            object-fit: cover;
            background-color: #ffffff;
            opacity: 0.9;
            margin-left: 3px;
            margin-right: 8px;
        }
    }
}

//control component
.control-container{
    width: 90%;
    min-width: 375px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    .timer{
        justify-content: center;
        margin-bottom: 10px;
    }
    .action-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .column{
            .my-team{
                object-fit: cover;
                width: 58px;
                height: 58px;
                border: 1.5px solid white;
                border-radius: 12px;
            }
            .greenlight-back{
                //그리라이트 백
                width : 75px;
                height: 75px;
                background-color: #979797;
                border-radius: 50%;
                display:flex;
                align-items: center;
                justify-content: center;
                .greenlight{
                    width : 75px;
                    height: 75px;
                    background-color: #50e3c2;
                    border-radius: 50%;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    .call-button{
                        width : 60px;
                        height: 60px;
                        background-color: #ffffff;
                        border-radius: 50%;
                        font-size: 23px;
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        color: #50e3c2;
                    }
                }
            }
            .gift{
                cursor: pointer;
                .gift-on{
                    width: 58px;
                    height: 58px;
                    padding: 17px;
                    border-radius: 50%;
                    background-color: #9b9b9b;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    font-size: 14px;

                }
                .gift-off{
                    width: 58px;
                    height: 58px;
                    padding: 17px;
                    border-radius: 50%;
                    background-color: #9013fe;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    font-size: 14px;
                }
            }
        }
    }
}

//gift popup css
.popup-container{
    .gift-popup{
        .box{
            width: 50%;
            min-width: 300px;
            max-width: 700px;
            height: 100px;
            border: 2px solid #9013fe;
            border-radius: 12px;
            background-color : #50e3c2;
            color: white;
            font-size: 10px;
            font-weight: 800;
            padding: 30px;
            display:flex;
            align-items: center;
            justify-content: center;
            
            .pop-button{
                width: 100px;
                height: 50px;
                background-color : #9013fe;
                color: white;
                font-size: 20px;
                border: none;
                border-radius: 12px;
            }
        }
    }
}


@media(max-width: 767px){ /*Mobile*/
    //모바일(너비 767px이하)에만 해당되는 CSS들어갈 곳
}
    
@media(min-width: 768px){ /*PC*/
    //PC(너비 768px이상)에만 해당되는 CSS들어갈 곳
}