//Profile.js, TeamProfile.js 모두 여기에

//모바일&PC 공통 CSS들어갈 곳


.form-component{
    background-color: #f6f6f6;
}

.ProfileForm {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

.tab-bar{
    width: 90%;
    min-width: 375px;
    max-width: 800px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    .change-link{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        color: #c0c0c0;
        width: 100%;
        
    }
    .active {
        border-bottom-style: solid;
        color: #000000;
    }
}
// .bottom-line-one{
//         width: 42%;
//         height: 1.5px;
//         background-color: #000000;
//         margin-left: 64px;
//     }

// .bottom-line-two{
//         width: 42%;
//         height: 1.5px;
//         background-color: #000000;
//         margin-right: 64px;
//     }


::-webkit-scrollbar {
    display : none;
}

.team-container{
    position: relative;
    width: 90%;
    min-width: 375px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6f6;
    .title{
        display:flex;
        justify-content: flex-start;
        padding-top: 25px;
        padding-bottom: 25px;
        font-weight: 600;
        font-size: 15px;
        width: 55px;
        height: 19px;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: -0.3px;
        color: #4a4a4a;
    }
    .images{
        display: flex;
        flex : 1;
        justify-content: space-between;
        overflow: auto;
        border: none;
        img{
            border-radius: 12px;
            width : 231px;
            height: 231px;
            background-color: #ffffff;
            opacity: 0.9;
            margin-left: 3px;
            margin-right: 8px;
            cursor: pointer;
        }
    }
    .text-input{
        width: 100%;
        min-height: 44px;
        min-width: 330px;
        border-radius: 12px;
        background-color: #ffffff;
        opacity: 0.9;
        box-shadow: none;
        padding: 12px 16px 12px 16px;
        border: none;
        overflow: hidden;
        outline: none;
        resize: none;
    }

    
    .button{
        width: 100%;
        height: 52px;
        border-radius: 12px;
        background-color: #50e3c2;
        box-shadow: none;
        padding-top: 16px;
        padding-bottom: 20px;
        border: none;
        margin-top: 20px;
        margin-bottom: 20px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        text-align: center;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        
    }

    .team-popup{

        position: absolute;
        top: 50%;
        width: 40%;
        min-width: 150px;
        min-height: 100px;
        background-color: #50e3c2;
        border: none;
        border-radius: 20px;
        // display: flex;
        // align-items: center;

    }
}

// .profile-image {
//     text-align: center;
//     margin-bottom : 20px;
// }

// .header{
//     text-align: center;
//     margin-top : 40px;
// }

// .not-change{
//     font-weight: 650;
//     text-align: center;
// }

// .image-uploader{
//     display: flex;
//     justify-content: center;
//     align-content: center;
//     align-items: center;
//     margin-left: auto;
//     margin-right: auto;
// }

// .text-input{
//     width: 400px;
//     display: flex;
//     margin-left: 20px;
// }

// table{
//     margin-left: auto;
//     margin-right: auto;
// }

// tr {
//     text-align : center;
//     td {
//         padding-bottom : 1em;
//     }   
// }

// .uploader{
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     justify-content: center;
//     text-align: center;
// }


// .buttons{
//     display: block;
//     text-align:center;
//     margin-top: 20px;

//     .go-back {
//         display: inline-block;
//         justify-content: center;
//         background-color: lightblue;
//         color : darkslategray;
//         font-weight: 600;
//         width : 120px;
//         height: 35px;
//         margin-right: 15px;
//     }

//     .button {
//         display: inline-block;
//         justify-content: center;
//         background-color : lightcoral;
//         color : darkslategray;
//         font-weight: 600;
//         width : 120px;
//         height: 35px;
//         margin-left: auto;
//         margin-right: auto;
//     }
// }

// .update-time {
//     text-align : center;
//     font-weight : 800;
//     color : goldenrod;
//     margin-top: 0;
// }

.SendButton {
    width: 78px;
    height: 44px;
    opacity: 0.9;
    border-radius: 12px;
    background-color: #4a4a4a;
    font-family: AppleSDGothicNeo;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    color: #ffffff;
}

.FixedButton {
    display: flex;
    justify-content: center;
    .SubmitButton {
        width: 335px;
        height: 52px;
        border-radius: 12px;
        font-family: AppleSDGothicNeo;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        text-align: center;
        color: #ffffff;
        position: fixed;
        bottom: 20px;
        align-items: center;
    }
}

.WorkingButton {
    background-color: #50e3c2;
}

.NotWorkingButton {
    background-color: lightgrey;
}

.CategoryWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5%;
    padding-top: 23px;
}
.CategoryName {
    font-family: AppleSDGothicNeo;
    font-size: 15px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #4a4a4a;
    margin-bottom: 2%;
}

.Gender {
    width: 100%;
    height: 44px;
    background: #ffffff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
    padding-left: 16px;

    p {
        margin: 0;
        word-wrap: wrap;
        word-break: break-all;
    }
}

select[name='age_value'],
select[name='company_value'] {
    appearance: none;
    width: 100%;
    height: 44px;
    background: #fff;
    border: none;
    border-radius: 12px;
    padding: 8px;
    padding-left: 16px;
    background: url("http://cdn.onlinewebfonts.com/svg/img_3503.png") no-repeat 95% 50%;
    background-size: 15px 11px;
    background-color: #fff
}

.EmailSelect {
    width: 100%;
    display: flex;

    input {
        width: 40%;
        height: 44px;
        background: #ffffff;
        border-radius: 12px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 8px;
        padding-left: 16px;
        border: none;
    }
}

.Send {
    margin-top: 10px;
}

.EmailValidation {
    width: 100%;
    display: flex;
    margin-top: 10px;

    input {
        width: 50%;
        height: 44px;
        background: #ffffff;
        border-radius: 12px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 8px;
        padding-left: 16px;
        border: none;
    }

    button {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 8px;
        padding-left: 26.5px;
        margin-left: 20px;
    }
}

#EmailAt {
    display: inline-block;
    width: 70px;
    font-size: 25px;
    margin-top: 9px;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

@media(max-width: 767px){ /*Mobile*/
    //모바일(너비 767px이하)에만 해당되는 CSS들어갈 곳

}

@media(min-width: 768px){ /*PC*/
    //PC(너비 768px이상)에만 해당되는 CSS들어갈 곳
}