.offset-down {
    padding-top: 60px;
}

.up-bg {
    background-color: #4C4C4C;
    height: 45vh;
}

.down-bg {
    background-color: white;
    height: 50vh;
}

.down-bg > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    height: 17vh;
    /*border-top: 7px solid #F0F0F0;*/
}

.h17vh {
    height: 17vh;
}

.heart {
    border-top: 1.4px solid #F0F0F0;
    height: 8vh;
}

.chat {
    border-top: 1.4px solid #F0F0F0;
    height: 8vh;
}

.invite {
    border-top: 7px solid #F0F0F0;
    height: 17vh;
}

.big-button {
    cursor: pointer;
    width: 30vh;
    height: 10vh;
    background-color: orangered;
    border-radius: 5vh;
    margin-top: 4vh;
}

.heart-button {
    cursor: pointer;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 5vh;
    border-radius: 2.5vh;
    border: 1px solid #F0F0F0;
}

.img-circle {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: lightgray;
    /*have to edit: for auto crop*/
}