.header {
    width: 100%;
    height: 60px;
    background-color: #4C4C4C;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.header-logo {
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
}

.header-logo > img{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: white;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    position: fixed;
    font-weight: bold;
}



@media(max-width: 767px){ /*Mobile*/

}

@media(min-width: 768px){ /*PC*/
    .header {
        width: 100%;
        height: 70px;
        background-color: #4C4C4C;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
}

