.App {
  text-align: center;
}

.inline-flex {
  display: inline-flex;
  align-items: flex-end;
}

.bg-white {
  background-color: white !important;
}

.base-box {
  width: 100%;
  height: auto;
  border: 1px solid lightgrey;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.h100percent {
  height: 100%;
}

.h50percent {
  height: 50%;
}

.w100percent {
  width: 100%;
}

.w50percent {
  width: 50%;
}

h1 {
  font-weight: black !important;
}

h2 {
  font-weight: bold !important;
}

h3 {
  font-weight: light !important;
  color: grey !important;
}

h4 {
  font-weight: 400 !important;
}

.frame {
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.frame-dark {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: black;
  opacity: 0.7;
}

.upper {
  text-transform: uppercase;
}

.hover {
  cursor: pointer;
  text-decoration: none;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-j-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-j-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-a-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-a-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.fix {
  position: fixed;
}

.absolute {
  position: absolute;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.mt-4 {
  margin-top: 32px;
}

.mt-5 {
  margin-top: 40px;
}

.mt-6 {
  margin-top: 48px;
}

.mt-7 {
  margin-top: 56px;
}

.mt-8 {
  margin-top: 64px;
}

.mt-9 {
  margin-top: 72px;
}

.mt-more {
  margin-top: 100px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mb-6 {
  margin-bottom: 48px;
}

.mb-7 {
  margin-bottom: 56px;
}

.mb-8 {
  margin-bottom: 64px;
}

.mb-9 {
  margin-bottom: 72px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 24px;
}

.ml-4 {
  margin-left: 32px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 24px;
}

.mr-4 {
  margin-right: 32px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 24px;
}

.pt-4 {
  padding-top: 32px;
}

.pt-5 {
  padding-top: 40px;
}

.pt-6 {
  padding-top: 48px;
}

.pt-7 {
  padding-top: 56px;
}

.pt-8 {
  padding-top: 64px;
}

.pt-9 {
  padding-top: 72px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 24px;
}

.pb-4 {
  padding-bottom: 32px;
}

.pb-5 {
  padding-bottom: 40px;
}

.pb-6 {
  padding-bottom: 48px;
}

.pb-7 {
  padding-bottom: 56px;
}

.pb-8 {
  padding-bottom: 64px;
}

.pb-9 {
  padding-bottom: 72px;
}

.pb-more {
  padding-bottom: 100px;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.font-0 {
  font-family: "Apple SD Gothic Neo";
  font-size: 0.75rem;
}

.font-05 {
  font-family: "Apple SD Gothic Neo";
  font-size: 0.9rem !important;
}

.font-1 {
  font-family: "Apple SD Gothic Neo";
  font-size: 1.0rem !important;
}

.font-2 {
  font-family: "Apple SD Gothic Neo";
  font-size: 1.1rem !important;
}

.font-3 {
  font-family: "Apple SD Gothic Neo";
  font-size: 1.4rem !important;
}

.font-4 {
  font-family: "Apple SD Gothic Neo";
  font-size: 1.6rem !important;
}

.font-5 {
  font-family: "Apple SD Gothic Neo";
  font-size: 1.8rem !important;
}

.font-6 {
  font-family: "Apple SD Gothic Neo";
  font-size: 2.0rem !important;
}

.font-big {
  font-family: "Apple SD Gothic Neo";
  font-size: 2.5rem !important;
  font-weight: bolder;
}

.font-white {
  color: white;
}

.font-grey {
  color: grey;
}

.font-black {
  color: black;
}

.font-bolder {
  font-weight: bolder;
}

.opacity05 {
  opacity: 0.5;
}

.opacity08 {
  opacity: 0.8;
}

.deco-none {
  text-decoration: none;
}

.bg-main-color {
  background-color: #4C4C4C;
}

@media(max-width: 370px){ /*Small Mobile*/

  .frame-half {
    width: 100vw;
    height: 100vh;
    z-index: 0;
  }

  .font-0 {
    font-family: "Apple SD Gothic Neo";
    font-size: 0.6rem;
  }

  .font-05 {
    font-family: "Apple SD Gothic Neo";
    font-size: 0.75rem !important;
  }

  .font-1 {
    font-family: "Apple SD Gothic Neo";
    font-size: 0.9rem !important;
  }

  .font-2 {
    font-family: "Apple SD Gothic Neo";
    font-size: 0.95rem !important;
  }

  .font-3 {
    font-family: "Apple SD Gothic Neo";
    font-size: 1.1rem !important;
  }

  .font-4 {
    font-family: "Apple SD Gothic Neo";
    font-size: 1.2rem !important;
  }

  .font-5 {
    font-family: "Apple SD Gothic Neo";
    font-size: 1.3rem !important;
  }

  .font-6 {
    font-family: "Apple SD Gothic Neo";
    font-size: 1.5rem !important;
  }

  .font-big {
    font-family: "Apple SD Gothic Neo";
    font-size: 2.0rem !important;
    font-weight: bolder;
  }

}

@media(max-width: 1024px){ /*Mobile & Tablet*/
  .mobile-none {
    display: none !important;
  }

  .pc-max-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .frame-half {
    width: 100vw;
    height: 100vh;
    z-index: 0;
  }
}

@media(min-width: 1025px){ /*PC*/
  .pc-none {
    display: none !important;
  }

  .pc-max-width {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .frame-half {
    width: 50vw;
    height: 100vh;
    z-index: 0;
  }

  .font-3 {
    font-family: "Apple SD Gothic Neo";
    font-size: 1.45rem !important;
  }

  .font-1 {
    font-family: "Apple SD Gothic Neo";
    font-size: 1.1rem !important;
  }

  .font-05 {
    font-family: "Apple SD Gothic Neo";
    font-size: 1.0rem !important;
  }

}
